.header {
   width:100%;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color:#ffff ;
  margin-left: 0;
  margin-right: 0;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.header-left p{
    margin-left: 5px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

.header-right img, .header-left img {
  width: 25px;
  height: auto;
}
