.facebook p, .facebook h2{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    }

.facebook p{
    font-size: 25px;
}

.facebook h2{
    font-size: 20px;
    margin-bottom: 10px;
    color: #004768;
}

.facebook_preview{
    display: flex;
    justify-content: center;
}